


<div class="submit-form">

    <div>
      <div class="form-group">
        <label for="title">Vízóra gyári száma:</label>
        <textarea
          matTextarea
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="waterMeterClass.title"
          name="title"

        ></textarea>
      </div>

      <div class="form-group">
        <label for="description">Bediktált mennyiség:</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="waterMeterClass.description"
          name="description"
          matInput
        />
      </div>

      <button mat-flat-button (click)="saveWaterMeter()" class="btn-success">Bediktálás</button>
    </div>
</div>



