<div class="list row">
  <div class="col-md-6">
    <h4>Vízóra lista</h4>
    <ul class="list-group">
      @for (waterMeter of waterMeters; track waterMeter.id; let i = $index) {
        <li
          class="list-group-item"
          [class.active]="i == currentIndex"
          (click)="setActiveWaterMeter(waterMeter, i)"
        >
          {{ waterMeter.title | uppercase }}
        </li>
      }
    </ul>
  </div>
  <div class="col-md-6">
    @if (currentWaterMeter) {
      <div>
        <app-details
          (refreshList)="refreshList()"
          [waterMeter]="currentWaterMeter"
        ></app-details>
      </div>
    } @else {
      <div>
        <br />
        <p>Kérlek válassz egy vízórát...</p>
      </div>
    }
  </div>
</div>
