<div class="list row">
  <div class="col-md-6">
    <h4>Vízóra lista</h4>
    <mat-list class="mat-list">
      <mat-list-item
        *ngFor="let waterMeter of waterMeters; trackBy: trackById; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveWaterMeter(waterMeter, i)"
        appHighlightOnClick
      >
        {{ waterMeter.title | uppercase }}
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentWaterMeter">
      <app-details
        (refreshList)="refreshList()"
        [waterMeter]="currentWaterMeter"
      ></app-details>
    </div>
    <div *ngIf="!currentWaterMeter">
      <br />
      <p>Kérlek válassz egy vízórát...</p>
    </div>
  </div>
</div>
